
body {
  background-color: rgb(5, 5, 5);
}
#formOne { 
  background-color: rgb(49, 141, 202);
  text-align: center;
}
.fromCurrencyCode{ 
padding-left: 20rem;
padding-right: 20rem;
}
h4 { 
  padding: 0.5rem; 
}
#submit { 
  padding: 0.25rem; 
}